cycler==0.10.0
decorator==4.0.10
greenlet==0.4.9
joblib==0.9.4
kiwisolver==1.0.1
matplotlib==3.0.2
networkx==2.2
numpy==1.16.2
pandas==0.24.1
pydot-ng==1.0.0
pyparsing==2.1.1
python-dateutil==2.5.3
pytz==2016.4
pyzmq==15.2.0
scikit-learn==0.20.3
scipy==1.2.1
scoop==0.7.1.1
six==1.10.0
